<div class="p-5">
    <div class="card">
        <div class="card-body">
            <h5 id="article-title" class="card-title">{{this.title}}</h5>
            <p id="article-link" class="card-text">{{this.link}}</p>
            <a id="save-the-article" href="/savesarticles" class="btn btn-primary">Save Article</a>
            <a id="add-note" href="#" class="btn btn-primary">Add Notes</a>
        </div>
    </div>
</div>