<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a id="scrapenewarticle" class="navbar-brand" href="#">Scrape New Article</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Saved Articles</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Health News</h1>
            <h2 class="masthead-subheading mb-0">Learn More About Living Healthy</h2>
            {{!--
            <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a> --}}
        </div>
    </div>

</header>
<div class="paral paral1">
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">

                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Scroll Down To See The Articles...</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<div id="newarticles" class="paral paral2">
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    {{#each articles}} {{>news-block}} {{/each}}
                </div>
                <div id="notes"></div> 
            </div>
            
        </div>
</div>
</section>
</div>


<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">

                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Hope You Enjoyed Reading!</h2>
                    <p>“To insure good health: eat lightly, breathe deeply, live moderately, cultivate cheerfulness, and maintain
                        an interest in life.” – William Londen</p>
                </div>
            </div>
        </div>
    </div>
</section>

 {{!-- <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </div> --}}


<!-- Footer -->
<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; HealthNews 2018</p>
    </div>
    <!-- /.container -->
</footer>

</body>